@import url('https://fonts.googleapis.com/css2?family=Barrio&display=swap');

.barrio-regular {
    font-family: "Barrio", system-ui;
    font-weight: 400;
    font-style: normal;
  }

.barrio {
    font-family: "barrio", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    margin: 0;
    background-color: #000;
  }
  
  #stars {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: linear-gradient(to bottom, rgba(0, 0, 41, 1) 88%, rgba(0, 0, 0, 1) 100%);
  }
  
  .star {
    position: absolute;
    width: 1px;
    height: 1px;
    border-radius: 2px;
    background-color: white;
    box-shadow: 0px 0px 1px 1px rgba(255, 255, 255, 0.4);
    animation: twinkle 2s infinite ease-in-out;
  }

  @keyframes twinkle {
    0%, 100% {
      opacity: 0.8;
    }
    50% {
      opacity: 0.3;
    }
  }
  